@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins", "Open Sans", serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:active {
  text-decoration: none;
  color: blue;
}

body {
  background-image: url('../bg1.jpg');
  /* background-image: linear-gradient(rgba(0.8.51,0.9),rgba(0,8,51,0.9)); */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 10vh;
}

.title {
  font-size: 4rem;
  margin-bottom: 2%;
  color: white;
  font-family: "Bree Serif", sans-serif;
  /* font-weight: bold; */
  text-align: center;
}

.form {
  display: flex;
  row-gap: 10px;
  min-width: 50vw;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem 2rem;
  margin: 100px auto;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 50px;
  padding: 10px 50px;
  text-align: center;
  font-size: 2rem;
  background-color: white;
  width: max-content;
  cursor: pointer;
  color: blue;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22),
    0px 2px 6px 2px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
  color: initial;
}

.query_text {
  font-size: 2rem;
  background-color: #ffffff !important;
  padding: 10px 30px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  resize: none;
}

.output {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
  gap: 1rem;
}

.initial_content {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 0px 45px 2px rgba(116, 113, 240, 0.75);
  -webkit-box-shadow: 0px 0px 45px 2px rgba(116, 113, 240, 0.75);
  -moz-box-shadow: 0px 0px 45px 2px rgba(116, 113, 240, 0.75);
  overflow: hidden;
  transition: all 1s;
  margin-bottom: 2%;
  
}

.card:hover {
  transform: scale(120%);
}

.card-image {
  height: 50vh;
  width: 20vw;
}

.submit-button {
  width: 12%;
  height: 7vh;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: rgb(98, 101, 252);
  transition-delay: 200ms;
  color: white;
}

.loader {
  width: 8px;
  height: 10px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: rgb(132, 45, 190);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
  display: none;
}

.loader::after,
.loader::before {
  content: "";
  width: 8px;
  height: 10px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 38px;
  }
  100% {
    height: 4px;
  }
}
